@model List<websiteSPcongnghe.Models.CartItem>

@{
    int amount = 0;
    int total = 0;
}

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Tiến hành đặt hàng</h2>
                </div>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a class="active" href="#">Tiến hành đặt hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="checkout_area section_gap">
    <div class="container">
        <div class="billing_details">
            <div class="row">
                <form class="row contact_form"
                      action="CreateBill"
                      method="post">
                    <div class="col-lg-8">
                        <h3>Chi tiết đặt hàng</h3>
                        <div class="col-md-8 mb-3 form-group p_star">
                            <label for="name" class="form-label">Họ và tên</label>
                            <input type="text"
                                   class="form-control"
                                   name="Ten" id="name" placeholder="Nhập họ và tên của bạn" required />
                        </div>
                        <div class="col-md-8 form-group p_star">
                            <label for="email" class="form-label">Email</label>
                            <input type="email"
                                   class="form-control"
                                   id="email"
                                   name="Email" placeholder="Nhập email của bạn" required />
                        </div>
                        <div class="col-md-8 form-group p_star">
                            <label for="sdt" class="form-label">Số điện thoại</label>
                            <input type="text"
                                   class="form-control"
                                   id="sdt"
                                   name="SoDienThoai" placeholder="Nhập số điện thoại của bạn" required />
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <label for="diachi" class="form-label">Địa chỉ</label>
                            <input type="text"
                                   class="form-control"
                                   id="diachi"
                                   name="DiaChi" placeholder="Nhập địa chỉ của bạn" required />
                        </div>
                        <div class="col-md-12 form-group">
                            <label for="cmt" class="form-label">Ghi chú</label>
                            <textarea class="form-control"
                                name="GhiChu"
                                id="cmt"
                                rows="5"
                                placeholder="Ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="order_box">
                            <h2>Đơn hàng của bạn</h2>
                            <ul class="list">
                                <li>
                                    <a href="#">
                                        Sản phẩm
                                        <span>Thành tiền</span>
                                    </a>
                                </li>
                                @foreach (var item in Model)
                                {
                                    amount = item.Sanpham.Thanhtien * item.Soluong;
                                    total += amount;
                                    <li>
                                        <a href="#">
                                            @item.Sanpham.Tensanpham
                                            <span class="middle">x @item.Soluong</span>
                                            <span class="last">@(amount.ToString("n0"))đ</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <ul class="list list_2">
                                <li>
                                    <a href="#">
                                        Tổng tiền
                                        <span>@(total.ToString("n0"))đ</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Miễn phí Ship
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Tổng cộng
                                        <span>@(total.ToString("n0"))đ</span>
                                    </a>
                                </li>
                            </ul>
                            <button type="submit" class="main_btn">Tiến hành đặt hàng</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>