@model IEnumerable<websiteSPcongnghe.Models.Dondathang>

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ngày đặt</th>
                            <th scope="col">Họ và tên</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Địa chỉ</th>
                            <th scope="col">Tổng tiền</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in Model){
                            <tr>
                                <td>@Html.DisplayFor(modelitem => item.Ngaylap)</td>
                                <td>@item.HovaTen</td>
                                <th>@item.Sdt</th>
                                <th>@item.Diachi</th>
                                <th>@Html.DisplayFor(modelitem => item.Tongtien)</th>
                                <th><a asp-action="OrderDetails" asp-route-id="@item.DondathangID">Chi tiết</a></th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>