@model List<websiteSPcongnghe.Models.CartItem>

@{
    var i = 1;
}

@if(Model.Count > 0){
    int amount = 0;
    int total = 0;
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Giỏ hàng</h2>
                    </div>
                    <div class="page_link">
                        <a href="/">Trang chủ</a>
                        <a action="active disabled">Giỏ hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">STT</th>
                                <th scope="col">Sản phầm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col">Số lượng</th>
                                <th scope="col">Thành tiền</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                amount = item.Sanpham.Thanhtien * item.Soluong;
                                total += amount;
                                <tr>
                                    <td>@(i++)</td>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="~/images/products/@item.Sanpham.Hinhanh" width="150" height="150" />
                                            </div>
                                            <div class="media-body">
                                                <p>@item.Sanpham.Tensanpham</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@Html.DisplayFor(modelItem => item.Sanpham.Dongia)</h5>
                                    </td>
                                    <td>
                                        <form asp-action="UpdateItem" method="post">
                                            <input name="id" type="hidden" asp-for="@(item.Sanpham.SanphamID)" />
                                            <div class="product_count">
                                                <input type="text"
                                                    name="quantity"
                                                    id="sst@(i)"
                                                    maxlength="12"
                                                    asp-for="@(item.Soluong)"
                                                    title="Quantity:"
                                                    class="input-text qty" />
                                                <button onclick="var result = document.getElementById('sst@(i)'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                                class="increase items-count"
                                                type="button">
                                                    <i class="lnr lnr-chevron-up"></i>
                                                </button>
                                                <button onclick="var result = document.getElementById('sst@(i)'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                                class="reduced items-count"
                                                type="button">
                                                    <i class="lnr lnr-chevron-down"></i>
                                                </button>
                                            </div>
                                            <button type="submit" class="gray_btn"><i class="fa-solid fa-rotate-right"></i></button>
                                        </form>
                                    </td>
                                    <td>
                                        <h5>@(amount.ToString("n0"))đ</h5>
                                    </td>
                                    <td class="text-center">
                                        <a asp-action="RemoveItem" asp-route-id="@item.Sanpham.SanphamID">
                                            <i class="fa-solid fa-trash text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <h5>Tổng tiền</h5>
                                </td>
                                <td>
                                    <h5>@(total.ToString("n0"))đ</h5>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner">
                                        <a class="gray_btn" href="/">Quay lại</a>
                                        <a class="main_btn" asp-action="CheckOut">Đặt hàng</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
} else
{
    <div class="row my-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="border mt-5 p-5 shadow-lg rounded position-relative">
                <div class="position-absolute top-0 start-50 translate-middle">
                    <i class="fa-solid fa-face-frown fs-1 text-muted"></i>
                </div>
                <div class="text-center text-uppercase fs-5 fw-bold">
                    <p>BẠN CHƯA CÓ SẢN PHẨM TRONG GIỎ HÀNG</p>
                    <p>Vui lòng quay lại</p>
                </div>
                <div class="position-absolute top-100 start-50 translate-middle">
                    <a class="btn rounded text-white" href="/" style="background-color:#71CD14">Quay trở lại</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
}
