@model websiteSPcongnghe.Models.Sanpham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Sanpham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tensanpham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tensanpham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Danhmucs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Danhmucs.DanhmucID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thuonghieus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thuonghieus.ThuonghieuID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hinhanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hinhanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dongia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dongia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sale)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sale)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Thanhtien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thanhtien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Soluong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Soluong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SanphamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
