@model IEnumerable<websiteSPcongnghe.Models.Sanpham>

@{
    ViewData["Title"] = "Index";
}

<h1 class="h3 mb-2 text-gray-800 text-uppercase">Danh sách sản phẩm</h1>

<a></a>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Tensanpham)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Danhmucs)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Thuonghieus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ten)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Hinhanh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Dongia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Sale)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Thanhtien)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Soluong)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tensanpham)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Danhmucs.DanhmucID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thuonghieus.ThuonghieuID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hinhanh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dongia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sale)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Thanhtien)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Soluong)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.SanphamID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.SanphamID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.SanphamID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
